
/*
Reglas CSS

selector {
    propiedad: valor;
}
Tipos de selectores:
    -> id
    -> class
    -> tag
    -> * (universal)
        -> pseudo-clases :hover

CSS es un lenguaje case-sensitive (no como windows)


*/

/*Normalizacion*/
*{
    margin:0;
    padding:0;
}
html{
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 16px;
}
body{
    background-image: url("../img/bg_3229.png");
}


/*Selector de Id*/
#contenedor{
    /*centrar una caja con el margin*/
    width:80%;/*80% del area visible*/
    margin-left:auto;
    margin-right:auto;
    background: rgba(255,255,255,0.5);
    }

/**/
.imgHeader{
    width:100%;/*100% del espacio que hay en .header*/
}

h1{
    text-align: center;
    margin:15px;/*TODO el espaciado se hace con margin / padding*/
}

.personajes{
    margin-top:30px;
    padding:15px;
    background: rgba(255, 255, 255, 0.5);
    }
    .imgPersonaje{
        width:38%;
        float:left;
        }
        .imgPersonaje img{
            border-radius: 50% ;
            max-width: 250px;
        }
    .txtPersonaje{
        width: 58%;
        float:right;
    }
    .txtPersonaje p{
        margin-top:15px;
    }
    .linkPersonaje{
        margin-top: 15px;
    }

    /*siempre que apliques float, vas a tener que aplicar clear, luego*/

    .clearFloat{
        clear:both
    }
    
.footer{
    margin-top:50px;
    text-align: right;
    padding: 2em;
    background-image: url("../img/footer.jpg");
    height: 90px;
    
}
